html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f5f5;
}
#logo {
    height: 25px;
    vertical-align: middle;
}
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DB53FB;

}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top:10px;

}

ul.nav li a:hover:not(.active) {
    text-decoration: underline;
}
ul.nav li {
    float: left;
}
ul.nav li a.active {
    text-decoration: underline;
}
@media screen and (max-width: 400px) {
    ul.nav li.right,
    ul.nav li {
        float: none;
    }
    #logo{
        display: none;
    }
}
#image{
    width: 100%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.imgText{
    position: relative;
    text-align: center;


}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.52); /* Black w/opacity/see-through*/
    border: 3px solid #f1f1f1;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
}

@media screen and (max-width: 1000px )and (min-width: 800px) {



    .centered {
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 10px;
    }
    .artist{
        margin:0;
    }
    .artist{
        margin: 50px 50px 100px 50px;
        padding: 10px 10px 10px 10px;
    }

}
@media screen and (max-width: 800px) {

    .centered {
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 7px;
    }

}